
@media screen and (min-width:720px) {
    .c_anime{
        width: 500px;
    }
    
}
@media screen and (max-width:720px) {
    .c_anime{
        width: 320px;
    }
    
}
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;

}
.left_contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.f_con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.left_contact{
}
.contact_h{
    color: #1bf7f3;
    font-size: 50px;
    font-weight: bolder;
    margin-left: -3px;
}
.contact_b{
    font-size: 30px;
    font-weight: bolder;
    color: whitesmoke;
}
.name_field{
    border: 2px solid #4bf5e7;;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    width: 300px;
    color: azure;
}
.form_sbt{
    width: 120px;
    background-color: #48e7f6;
    color: rgb(242, 245, 246);
    padding: 10px;
    border: transparent;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 5px;
    border-color: #1bf7f3;
    
}
.form_sbt:hover{
    width: 120px;

    background-color: rgba(68, 240, 253, 0.959);
    color: white;
    padding: 10px;
    border: transparent;
    margin-top: 20px;
}
    
.input_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    color: rgb(90, 248, 248);
}